################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/FarmManagement/obj
/FarmManagement/bin/Debug/net8.0
/FarmManagement/FarmManagementClient/.vscode
