.animal {
  border-bottom: 1px solid #e1e1e1; /* Subtle separator */
  padding: 16px;
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.name {
  font-size: 16px;
  color: #333;
  font-weight: 500;

}

.type {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

//mat-icon{
//  color: red;
//}
